body {
  background: linear-gradient(135deg, #0f2027, #203a43, #f05f57); /* Градиентный фон */
  background-size: cover;
  margin: 0;
  padding: 0;
  color: #222222;
}

header {
    background: #000000;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

img {
    max-width: 100%; 
    height: auto; 
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #f05f57; 
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #ffffff; 
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #1c2e35; 
    color: #e0e0e0; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
    border-radius: 8px;
}

section {
    margin-bottom: 20px;
}

.card {
    background: #2c3e50; 
    border: 1px solid #444; 
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
    transition: transform 0.2s;
    color: #e0e0e0;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); 
}

.card h3 {
    margin-top: 0;
    color: #f05f57; 
}

.project-image, .interest-image { 
    max-width: 100%;
    height: auto;
    border-radius: 15px; 
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #203a43; 
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.vcard p {
    margin: 5px 0;
    color: #e0e0e0; 
}

.read-more {
    display: inline-block; 
    margin-top: 10px; 
    padding: 10px 15px; 
    background: #f05f57; 
    color: #ffffff; 
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 16px; 
}

.read-more:hover {
    background: #d44a48; 
}

@media (max-width: 600px) {
    nav ul li {
        display: block; 
        margin: 10px 0;
    }

    main {
        padding: 10px; 
    }

    .card {
        padding: 10px; 
    }

    .read-more {
        padding: 8px 12px; 
    }
}


